html {
    position: relative;
}

header {
    position: relative;
}

body {
    position: relative;  
}

#casino-night-image {
      position: absolute;
      width: 10%;
}

.money-display {
    position: absolute;
    display: inline-block;
    top: 13%;
    height: 100vh;
    width: 18%;
    vertical-align: center;
    text-align: center;  
}

.money-indicator {
    position: absolute;
    vertical-align: center;
    text-align: center;
    top: 20%;
    margin-top: 3vh;
    display: inline-block;
    color:green;
    left: 28%;
    font-size: 1.5vw; 
}

#money-amount {
    position: absolute;
    top: 25%;
    left: 0%;
    border: 3px solid black;
    width: 75%;
    margin-top: 7%;
}

#card-table-container {
    position: relative;
    width: 60%;
    height: 70vh;
    left: 20%;
    top: 15vh;
}

#card-table {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: hidden; /* --------------------NEED TO UNHIDE THIS TO SHOW TABLE--------------------------------*/
}

#dealerCard-faceDown {
    position: absolute;
    z-index: 1;
    left: 47%;
    height: 15vh;
    max-width: 5vw;
    top: 0%; 
}

#player1Card1 {
    position: absolute;
    z-index: 1;
    left: 47%;
    height: 15vh;
    max-width: 5vw;
    bottom: 20%;
    visibility: hidden; /*----------------------------NEED TO UNHIDE THIS----------------------------------------*/
}

/*---------------------------MODALS-----------------------------------------------------------*/
.winLosemodal {
    position: absolute;
    left: 45%;
    top: 34%;
    z-index: 1;
    background-color: black; 
    border: 3px solid red;
    visibility: hidden;
}

#winLoseModal p {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 25vw;
    text-align: center;
    color: red;
    font-size: 2.5vh;
    height: 3vh;
    z-index: 1;
    left: -10vw;
}

#begin-modal-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%; 
    background-color: rgba(0, 0, 0, .5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#begin-modal-box {
    position: relative;
    background-color: white;
    width: 30%;
    height: 30%;
    align-items: center;
    border: 4px solid black;  
}

#begin-modal-box > h2 {
   text-align: center;
}

#begin-modal-box > .label {
    display: inline-block;
    width: fit-content;
    margin-left: 8vw;
    margin-top: 5vh;
    margin-right: 1vw;
}

#begin-modal-box > .input {
    display: inline-block;
    text-align: center;
}

#begin-submit-button {
    position: absolute;
    bottom: 0%;
    left: 42%;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    height: 3vh;
    width: 5vw; 
}

#closeX {
    position: absolute;
    top: -8%;
    right: 1%;
    font: bold;
    font-size: 2vh;
    cursor: pointer;
}













